*{
    padding: 0px;
    margin: 0px;
    
}

.main{
    background-color:#43ba10 ;
    margin:80px px;
    justify-content: center;
    align-items: center;
    height: 72vh;
    

}
.chef{
    width: 40vw;
    height:70vh;
    float: left;
    margin-top: 12vh;
    transition: 1s;

}
.chef:hover{
transform: scale(1.1);
}
.heading{
    display: inline-block;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.head1{
    font-weight: 500;
    font-size: 9vw;
    display: inline-block;
    font-family:fantasy;
    text-shadow: #557d2d 2px 7px 3px ;
    transition: all 0.8s ease-out;

}
.head1:hover{
    text-shadow: #557d2d 5px 8px 5px;
}
.form:hover{
    transform: scale(1.1);
    transition-duration: 1s;
    text-shadow: white 2px 5px 9px;
    
}
.form{
    background-color:rgb(255, 255, 255);
    position: relative;
    transition:all 0.8s ease-out;
    width:17vw;
    height: 40vh;
    border-radius: 20px;
    display: inline-block;
    border: 2px rgb(33, 192, 33) solid;
    left: 5vw;
    bottom: 15vw;
    text-align: center;
    box-shadow: black 5px 8px 7px;
}
.delivery{
    display: inline;
    width: 10vw;
}
.mHead{
    display: inline-block;
    font-family:"Audiowide",sans-serif;
    color: #FFDE59;
    text-shadow: rgba(217, 0, 0, 0.777) 2px 7px ;
    font-size: 7.5vw;
}
.sect2{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    position: relative;
    top: 70px;
    display:inline;
    border: solid #43ba10 2px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 25px ;
    background-color: #7ed95752;
    color:#43ba10;

}
button:hover{
    position: relative;
    top: 80px;
    background-color:white;
    padding:5px 4vw;
    border-radius: 10px;
    color: #43ba10;
    border: #43ba10 2px solid;
    transition-duration: 0.8s;
    transition-timing-function: ease-out;
    transform: scale(1.3);
}
button{
    position: relative;
    top: 80px;
    background-color:#43ba10 ;
    padding:8px 5vw;
    border-radius: 10px;
    color: white;
    border: white solid 2px;
    transition: all 0.8s ease-out;
}
a:hover{
    color: #43ba10;
}
a{
    text-decoration: none;
    color: white;
}

    
