*{
    margin: 0px;
}
.container hr{
    color: #43ba10;
    height: 3px;
}
.container a{
    color: #43ba10;
}
.container ul a:hover{
    color: white;
    background-color: #43ba10;
}
.container a:hover{
    color: #43ba10;
}
/* nav{
    display: block;
    padding: 20px ;
    position: fixed;
    margin:0vh 10vw;
    background-color: white;
    width: 80%;
    line-height: 2vw;
    border:#43ba10 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    
} */
/* .navtext{
    color: #43ba10;
    display: inline;
    border: solid #43ba10 2px;
    border-left: 0px;
    border-right: 0px;
    line-height: 2vw;

} */
.img{

    /* For nav image */
    position: relative;
    display: inline;
    float: left;
    
    
}
/* .logo{
    
    display: inline;
    line-height: 2vw;
}

.menu li:hover{
    background-color: #43ba10;
    color: white;
    padding: 10px 30px;
    transition:all 0.5s ease-out;
} */
.cart{
    width: 35px;
    height: 35px;
    float: right;
}
.navbar-toggler-icon #navbarSupportedContent .navbar-toggler .toggle{
    color: #43ba10;
}

div.stnav{
    position: sticky;
    top: 0;
    background-color: white;
}
.stnav {
    z-index: 9999;
}
/* nav ul{
    display: inline-block;
    
} */
/* .menu li{
    transition-duration:0.5s;
    padding: 10px 30px;
    text-decoration: none;
    display: inline;
}
.menu{
    display: inline;
    margin-left: 50%;
    line-height: 2vw;
}
a.menu1:hover{
    color: white;
}
.menu1{
    text-decoration: none;
    color: #43ba10;
} */

/* .quickMeal{
    text-align: center;
    border-radius: 10px;
    border: none 2px solid;
    width: 30%;
    height: 40vh;
    display: inline-block;
    box-shadow: none 5px 20px 50px;
    margin-top: 10vw;
}

.quickMeal ul{
display: inline;
}

.quickMeal li{
    list-style: none;
    margin:5px 40px;
    padding: 10px 0px;
    color:white;
    background-color: #43ba10;
    border:solid 2px white;
    transition: all 0.5s ease-out;
}
.quickMeal li:hover{
    list-style: none;
    margin:5px 40px;
    padding: 10px 0px;
    color:#43ba10;
    background-color: white;
    border: 2px #43ba10 solid;
    transform: scale(1.1);
    transition: all 0.5s ease-out;
    transition-timing-function: linear;
    
    
}
.quickMeal h1{
    color: #43ba10;
}
.sect1{
    display: flex;
    margin: 10vh 10vw;
    
}
.shops{
    display: inline;
    background-color:;
    border-radius: 10px;
    margin: 0vw 3vw;
    width:70%;
 
}
.div1{
    display: flex;
    justify-content:space-evenly;
    border-radius: 10px; 

}
.card{
    display: flex;
    width: 18vw;
    height: 40vh;
    border:2px white solid;
    background-color: white;
    margin:10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: #43ba10 10px 20px 50px;
    transition: all 0.5s ease-out;

}
.card:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}
.logo{
    width: 10vw;
    height: 10vw;
}
.btn{
    background-color: #43ba10;
    color: white;
    margin:1vw;
    border: #43ba10;
    
}
.btn:hover{
    background-color: white;
    color: #43ba10;
    border: #43ba10 2px solid;
    

} */
.lower_section{
    margin-top: 50px;
}
.quickmeal{
    text-align: center;
}
.quickmeal h1{
    color: #43ba10;
}
.logo{
    width: 10vw;
}
.quickmeal li{
    list-style: none;
    /* margin:5px 40px; */
    margin-right: 20px;
    padding: 10px 0px;
    border-radius: 10px;
    color:white;
    background-color: #43ba10;
    border:solid 2px white;
    transition: all 0.5s ease-out;
}
.quickmeal li:hover{
    list-style: none;
    margin:5px 40px;
    padding: 10px 0px;
    color:#43ba10;
    background-color: white;
    border: 2px #43ba10 solid;
    transform: scale(1.1);
    transition: all 0.5s ease-out;
    transition-timing-function: linear;  
}



.btn{
    background-color: #43ba10;
    color: white;
    margin:1vw;
    border: #43ba10; 
}

.btn:hover{
    background-color: white;
    color: #43ba10;
    border: #43ba10 2px solid;
    

} 


.card{
    width: 29%;
    height: 40vh;
    border:2px white solid;
    background-color: white;
    margin:10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: #43ba10 10px 20px 50px;
    transition: all 0.5s ease-out;

}
.card:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}

.cards{
    justify-content: center;
    align-items: center;
}
